h1 {
  margin-top: 100px;
  font-size: 40px;
}
.todoToken{
  visibility: hidden;
}
li{
  font-size: 20px;
  margin-left: 10px;
  padding-left: 2px;
}

.homepagelinks{
  margin-top: 100px;
  margin-left: 600px;
}

.editTodoButton{
  visibility: hidden;
}

#todoTitle{
  margin-left: 32px;
}

#todoDesc{
  width:588px;
  visibility: hidden;
}

#addTodoDescription{
  visibility: hidden;
}

#descLabel{
  visibility: hidden;
}

#addTask{
  visibility: hidden;
}
#taskTitle{
  visibility: hidden;
  margin: 90px;
}
.createTodo{
  margin-top: 120px;
  margin-left: 300px;
}
.DisplayTask{
  margin-left: 300px;
}
.addTask{
  margin-left: 300px;
}
